@use 'zTeam_Styles';

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.btn {
  width: fit-content;
  padding: 0.5rem 1rem;

  border: 3px solid;
  border-color: transparent;
  border-radius: 5px;

  font-weight: bold;
  font-size: 1.1rem;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  .page {
    width: 60%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .formGroup {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem 3rem;
    padding: 3rem 0;

    .form-item {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      padding: 1rem 0;

      label {
        padding-bottom: 0.5rem;
        font-weight: bold;
      }

      input {
        padding: 0.5rem;
        width: 200px;

        border-radius: 5px;
        border: 1px solid #999;

        font-size: 1.2rem;
        color: #222;

        &:focus {
          outline: none;
          border-color: #42a2eb;
        }
      }
    }
  }

  .btn-back {
    margin-right: 1rem;
  }
}
