// VARIABLES
$colorPrimary: #42a2eb;
$colorPrimary--hover: #3c98dd;
$colorSecondary: #e1eef5;
$colorSecondary--hover: #eefaff;
$colorError: #e64c48;
$colorError--hover: #f35652;
$colorError-alert_bg: #fef4f6;
$colorSuccess: #19bc7d;
$colorSuccess-alert_font: #1c6e2f;
$colorSuccess-alert_bg: #d9f3e9;

// ALERTS
.z-alert-error {
  background-color: $colorError-alert_bg !important;
  color: $colorError !important;
}

.z-alert-success {
  background-color: $colorSuccess-alert_bg !important;
  color: $colorSuccess-alert_font !important;
}

// BUTTONS
.z-btn-primary {
  background-color: $colorPrimary;
  color: #fff !important;
  &:hover {
    background-color: $colorPrimary--hover;
  }
}

.z-btn-secondary {
  background-color: $colorSecondary;
  color: #333 !important;
  &:hover {
    background-color: $colorSecondary--hover;
  }
}
.z-btn-error {
  background-color: $colorError;
  color: #fff !important;
  &:hover {
    background-color: $colorError--hover;
  }
}
// FORMS
.z-form-error {
  color: $colorError !important;
  border-color: $colorError !important;
  &::placeholder {
    color: $colorError !important;
  }
}

// TEXTS
.z-text-error {
  color: $colorError !important;
}
